
.word-btn {
    border: 2px solid #17336b;
    background-color: #fff34b;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container1 {
    display: flex;
    justify-content: center;
}
.word-break {
    word-break: break-all;
}

.word-meaning {
    font-size: 18px;
    position: relative;

}
.ow-anywhere {
    overflow-wrap: anywhere;
}

.ow-break-word {
    overflow-wrap: break-word;
}

